html, body  {
	font-size: 10px;
	-webkit-print-color-adjust: exact;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Noto, Helvetica, sans-serif;
	font-weight: bolder;
	color: rgb(29, 65, 89) !important;
	margin: 0;
}

p {
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 940px;
	height: 1330px;
	margin: 0 auto;
	border: 2px solid #bababa;
	background: url('../img/Background.jpg') no-repeat right top !important;
	background-size: 50% !important;
	padding: 40px 60px;
}

.wrapper-background {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 20%;
}

/* Header */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 5;
} 

.header .info {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header .job__title {
	display: inline-flex;
}

.linkedin, .phone, .email, .skype, .github, .jobstutby {
	display: inline-flex;
	align-items: center;
	font-family: 'FontAwesome', "Arial", sans-serif !important;
	color: rgb(158, 137, 120) !important;
	outline: none;
	text-align: center;
	text-decoration: none !important;
}

.contact__info {
	display: inline-flex;
}

.linkedin a, .contact__info__wrapper p {
	text-decoration: none !important;
	font-size: 1.8rem;
	vertical-align: bottom;
}

.contact__info__wrapper:nth-child(2) {
	margin: 0 20px;
}

.contact__info p {
	font-weight: bold;
	color: #2e3231;
}

.linkedin::before, 
.phone::before, 
.email::before, 
.skype::before, 
.github::before, 
.jobstutby::before {
	margin: 5px 10px 5px 0px;
	font-size: 2rem;
	outline: none !important;
	text-decoration: none !important;
	color: rgb(158, 137, 120) !important;
}

.linkedin::before {
	content: "\f0e1";
}

.phone::before {
	content: "\f095";
}

.email::before {
	content: "\f0e0";
}

.skype::before {
	content: "\f17e";
}

.github::before {
	content: "\f09b";
}

.jobstutby::before {
	content: "\f0ab";
}

.contact__info p:hover  {
	outline: none;
	text-decoration: none !important;
	color: #d8c7ba;
}

header h3 {
	color: rgb(158, 137, 120) !important;
	margin: 5px 0 20px 0;
	font-size: 3rem;
}

.header .photo {
	display: flex;
}

.header .photo_wrapper {
	display: flex;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url('../img/MyPhoto.jpg') !important;
	background-size: cover !important;
}

.header .photo img {
	background: rgb(255, 255, 255);
	transform: rotate(-60deg);
	overflow: hidden;
	visibility: visible;
	z-index: 5;
}

/* Main */
main {
	display: flex;
	flex-direction: row;
}

.left-column, .right-column {
	display: flex;
	flex-direction: column;
}

.left-column {
	width: 60%;
	margin-right: 20px;
}

.right-column {
	width: 40%;
}

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.container h3 {
	margin: 10px 0 5px 0;
	color: rgb(158, 137, 120) !important;
	font-weight: normal;
}

.container__title {
	width: 100%;
	border-bottom: 4px solid rgb(29, 65, 89) !important;
	margin-top: 20px;
}

.dash-line {
	width: 100%;
	border-bottom: 2px dotted rgb(158, 137, 120) !important;
	margin: 10px 0;
	padding: 0;
}

.container ul {
	margin: 5px;
	padding-left: 10px;
}

.container ul {
	font-size: 1.5rem;
}

.calendar, .place-pointer {
	display: inline-flex;
	align-items: center;
}

.infoblock {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.infoblock p {
	margin-left: 10px;
	font-size: 1.5rem;
}

.fa-calendar-alt, .fa-map-marker-alt {
	font-size: 2rem;
	color: rgb(158, 137, 120) !important;
}

.fa-calendar-alt::before, .fa-map-marker-alt::before {
	color: rgb(158, 137, 120) !important;
}

.place-pointer {
	margin-left: 20px;
}

/* Languages section */
.schoolname {
	display: flex;
	flex-direction: column;
}

.international-house, .streamline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.international-house p, .streamline p {
	margin: 0;
}
.international-house img, .streamline img {
	width: 95%;
}

/* Education */
.rsschool {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.university {
	margin: 10px 10px 10px 0;
}

.university-rs {
	margin: 0px 10px 10px 0;
}

.university a, .university-rs a {
	text-decoration: none;
	color: rgb(29, 65, 89) !important;
}

.university a:hover, .university-rs a:hover {
	text-decoration: none;
	color: #5d9ac2;
}

.certificate a {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.rssert {
	width: 60%;
	height: 80px;
}

.rsschool-styled {
	display: flex;
	flex-direction: column;
	min-width: 60%;
}

/* Skills */
.infoblock__skills {
	display: flex;
	flex-direction: column;
}

.infoblock__skills p {
	font-size: 1.5rem;
}

.skills {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	margin: 5px 0;
}

.skills p {
	margin: 0 5px 0 0;
}

.gradation {
	display: inline-flex;
}

.color-blue, .color-broun {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 5px;
}

.color-blue {
	background-color: rgb(29, 65, 89) !important;
}

.color-broun {
	background-color: rgb(158, 137, 120) !important;
}

/* Other skills */
.other-skills {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.other-skills p {
	margin: 5px 0;
	font-size: 1.5rem;
}

.methodologies {
	display: inline-flex;
}

.methodologies p {
	margin-right: 5px;
}

.calendar-passions {
	display: inline-flex;
	align-items: center;
}

.calendar-passions p {
	display: inline-flex;
	align-items: center;
	font-weight: bold;
	color: rgb(29, 65, 89) !important;
}

.fa-volleyball-ball, .fa-globe-americas, .fa-skiing {
	font-size: 2rem;
	margin: 10px 0;
	color: rgb(158, 137, 120) !important;
}

.fa-volleyball-ball::before, .fa-globe-americas::before, .fa-skiing::before {
	color: rgb(158, 137, 120) !important;
}

/* Projects */
.projects {
	display: inline-flex;
	justify-content: space-between;
}

.websites {
	width: 30%;
}

.websites-header {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.websites-header a::before {
	margin: 0;
}

.projects img {
	width: 100%;
	border: 1px solid rgb(158, 137, 120) !important;
}

.hexal {
	letter-spacing: -1px;
}

.websites-footer {
	display: flex;
	justify-content: center;
}

.websites-footer p {
	margin: 5px 0;
	font-size: 1.5rem;
}

.bootstrap {
	letter-spacing: -1.1px;
}

/* Footer */
footer {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border-top: 4px solid rgb(29, 65, 89) !important;
	margin-top: 10px;
}

.download_btn  ul {
	list-style-type: none;
	
}

.actions  a, footer p {
	font-size: 1.5rem;
	color: rgb(29, 65, 89) !important;
	text-decoration: none;	
}

.fa-download, .fa-print {
	font-size: 2rem;
	margin: 10px;
	color: rgb(158, 137, 120) !important;
}

.fa-download::before, .fa-print::before {
	color: rgb(158, 137, 120) !important;
}

@media print {
	* {
		-webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
		color-adjust: exact !important;                 /*Firefox*/
	}

	body { 
		-webkit-print-color-adjust: exact !important; 
	}

  a[href]:after {
    content: "";
	}
}